<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed"
                aria-controls="navbar"
                aria-expanded="false"
                data-target="#navbar"
                data-toggle="collapse"
                ng-click="$ctrl.navExp = !$ctrl.navExp"
                type="button">
                <span class="sr-only" translate>Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
                ng-if="$ctrl.main"
                ng-href="{{ $ctrl.url('') }}"
                ng-click="Navigation.select('main')"
                ng-class="{active: isHome}">
                <img src="logo.png" width="20" height="20" alt="Monad">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-class="{'in': $ctrl.navExp}">
            <ul class="nav navbar-nav">
                <li ng-if="$ctrl.main"><a href="/" target="_blank" translate>Site</a></li>
                <li ng-repeat="item in $ctrl.menu.options"
                    ng-if="item.authentication.check"
                    ng-class="{active: item.selected, dropdown: item.items}"
                    uib-dropdown>
                    <a ng-if="item.items" href class="dropdown-toggle" uib-dropdown-toggle>
                        {{ item.title | translate }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" ng-if="item.items">
                        <li ng-repeat="item in item.items" ng-if="item.authentication.check">
                            <a ng-href="{{ $ctrl.url(item.url) }}" ng-click="$ctrl.select(item)" mo-menu-label item="item">
                                <small ng-if="item.notify()">{{ item.notify() }}</small>
                                {{ item.title | translate }}
                            </a>
                        </li>
                    </ul>
                    <a ng-if="!item.items" ng-href="{{ $ctrl.url(item.url) }}" ng-click="$ctrl.select(item)">
                        <small ng-if="item.notify()">{{ item.notify() }}</small>
                        {{ item.title | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

